* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --main-color: #ec9a2f;
  --main-transition-duration: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --paragraph-color: #666;
  --sec-paragraph-color: #b9b9b9;
  --black-color: #191919;
  --box-shadow-color: #ddd;
  --grayish-color: #fafafa;
  --main-overlay-color: rgba(0, 0, 0, 0.5);
  --main-border-radius: 8px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-heading {
  margin: 40px auto 80px;
  text-align: center;
  font-size: 40px;
  color: var(--main-color);
  text-transform: uppercase;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* animations */

/* animations */
/* end global rules */
/* start header */
.header {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 10px var(--box-shadow-color);
  -moz-box-shadow: 0 0 10px var(--box-shadow-color);
  box-shadow: 0 0 10px var(--box-shadow-color);
  transition: all var(--main-transition-duration) linear;
}
.header.fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}
@media (max-width: 767px) {
  .header .container .logo {
    width: 100%;
  }
}
.header .container .logo img {
  max-width: 100%;
  max-height: 100%;
}
.header .container .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .container .main-nav .nav-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  padding: 0px 25px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  transition: all var(--main-transition-duration);
  position: relative;
  overflow: hidden;
}
.header .container .main-nav .nav-link.active a::before {
  left: 0;
}
@media (max-width: 991px) {
  .header .container .main-nav .nav-link a {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .header .container .main-nav .nav-link a {
    padding: 10px;
    height: 35px;
  }
}
@media (max-width: 480px) {
  .header .container .main-nav .nav-link a {
    font-size: 10px;
  }
}
.header .container .main-nav .nav-link a:hover {
  color: var(--main-color);
  background-color: var(--grayish-color);
}
.header .container .main-nav .nav-link a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  bottom: 0;
  left: -100%;
  transition: all var(--main-transition-duration);
}
.header .container .main-nav .nav-link a:hover::before {
  left: 0;
}
/* end header */
/* /start offers */
.offers {
  width: 100%;
  margin-top: 20px;
}
.offers .offers-swiper {
  width: 100%;
  height: 300px;
  padding: 30px 0px;
}

.offers .offers-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.offers .offers-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--main-border-radius);
}

.offers .offers-swiper .swiper-pagination-bullet-active {
  background-color: var(--main-color);
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: var(--main-color);
}
/* end swiper */
/* /end offers */

/* start menu */
.menu {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.menu .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.menu .container .meal {
  box-shadow: 0 0 10px var(--box-shadow-color);
  padding: 20px;
}
.menu .container .meal .meal-img-top {
  border-radius: var(--main-border-radius);
  width: 100%;
  max-width: 100%;
  height: 180px;
}
.menu .container .meal .meal-body {
  position: relative;
}
.menu .container .meal .meal-body .meal-name {
  font-size: 23px;
  font-weight: 700;
  margin-top: 5px;
}
.menu .container .meal .meal-body .meal-desc {
  font-size: 16px;
  margin: 10px 0px;
  color: var(--paragraph-color);
}
.menu .container .meal .meal-body .meal-price-div {
  display: inline-block;
  margin-bottom: 15px;
}
.menu .container .meal .meal-body .meal-price-div .meal-price {
  font-size: 16px;
  color: var(--main-color);
  font-weight: 700;
}
.menu .container .meal .meal-body .meal-type {
  display: inline-block;
  position: absolute;
  right: 0;
  color: var(--paragraph-color);
}
/* end menu */
/* start footer */
.footer {
  background-color: var(--black-color);
  padding: 70px 0px 0px;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.footer .container .box h3 {
  font-size: 30px;
  color: white;
  font-weight: 700;
}
.footer .container .box .social-media {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
@media (max-width: 767px) {
  .footer .box .social-media {
    justify-content: center;
  }
}
.footer .container .box .social-media li {
  margin-right: 10px;
}
.footer .container .box .social-media li a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  font-size: 20px;
  color: var(--sec-paragraph-color);
  width: 50px;
  height: 50px;
  transition: var(--main-transition-duration);
}
.footer .box .social-media .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social-media .instagram:hover {
  background-color: #8a3ab9;
}
.footer .box .social-media .whatsapp:hover {
  background-color: #25d366;
}
.footer .container .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery {
  max-width: 340px;
}
.footer .footer-gallery img {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0 25px;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
.footer .copyright a {
  color: var(--main-color);
}
/* end footer */
