//colors
$main-color :#ec9a2f;
$alt-color : #234566;
$black-color : #333333;
$light-gray-color : #DDD;
$gray-color : #eaeaea;
$grayish-color : #fafafa;
$button-gray-color : #6C757D;
$overlay-color :rgba(0, 0, 0, 0.5);

$main-transition-duration: 0.3s;
$paragraph-color: #666;
$sec-paragraph-color: #b9b9b9;
$black-color: #191919;
$box-shadow-color: #ddd;
$grayish-color: #fafafa;
$main-overlay-color: rgba(0, 0, 0, 0.5);
$main-border-radius: 8px;
$section-background: #ececec;
//social media platforms color
$github-color : #171515;
//prefixes
$prefixes : -webkit- -moz- -o- -ms-;
// media queries
//animation
$mainTransitionDuration : 0.3s;
$maxMobile : "max-width:767px";
$maxSmall : "max-width:991px";
$maxLarge : "max-width:1199px";
$minSmall : "min-width:768px";
$minMedium : "min-width:992px";
$minLarge : "min-width:1200px";

//main padding and margin
$mainPaddingTop : 100px;
$mainPaddingBottom : 100px;