:root{
    --main-color:#ec9a2f;
    --main-transition-duration:0.3s;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
    --paragraph-color:#666;
    --black-color : #232D39;
    --box-shadow-color : #ddd;
    --grayish-color : #FAFAFA;
    --main-overlay-color: rgba(0,0,0,0.5);
    --main-border-radius : 8px;
    --section-background: #ececec;
}
    *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    }
    body{
        font-family: "cairo",sans-serif;
    }
    .container{
padding-left: 15px;
padding-right: 15px;
margin-right: auto;
margin-left: auto;
}
/* small */
@media (min-width:768px){
.container{
     width: 750px;
}
}
/* medium */
@media (min-width:992px){
.container{
     width: 970px;
}
}
/* large */
@media (min-width:1200px){
.container{
     width: 1170px;
}
}


    .form-container{
        margin: 50px 20px 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    @media(max-width:991px){
        .form-container{
            justify-content: center;
        }
    }

    .form-container .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        flex: 0 0 45%;
    }
    .form-container .form .title{
        font-weight: 700;
        color: var(--main-color);
        font-size: 40px;
        text-align: center;
    }
    .form-container .form label{
        font-size: 18px;
        font-weight: 700;
        color: var(--main-color);
    }
    .form-container .form .input{
        display: block;
        border: none;
        outline: none;
        height: 40px;
        padding: 0px 10px;
        background-color: transparent;
        color: var(--main-color);
        border-radius: var(--main-border-radius);
        border: 2px solid var(--main-color);
        font-weight: 700;
        margin: 10px 0px;
        caret-color: var(--main-color);
    }
    .form-container .form .input::placeholder{
        color: var(--main-color);
        font-weight: bold;
    }
    .form-container .form .error{
        margin: 0px 0px 0px 10px;
        color: red;
        font-weight: 700;
        display: none;
    }
    .form-container .form .center{
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
    }
    .form-container .form .button{
        padding: 15px 35px;
        background-color: var(--main-color);
        cursor: pointer;
    }
    .form-container .table-container{
        flex: 0 0 45%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        height: 500px;
        overflow-y: scroll;
    }
    .form-container .table-container .table{
        position: absolute;
    }
    .form-container .table-container .table thead th{
        width:200px;
 
    }