:root{
    --main-color:#ec9a2f;
    --main-transition-duration:0.3s;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
    --paragraph-color:#666;
    --black-color : #232D39;
    --box-shadow-color : #ddd;
    --grayish-color : #FAFAFA;
    --main-overlay-color: rgba(0,0,0,0.5);
    --main-border-radius : 8px;
    --section-background: #ececec;
    --dark-color : #212529;
}
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    }
    body{
        font-family: "cairo",sans-serif;
        background-color: var(--dark-color);
        }

.main-heading{
    margin: 20px auto 20px;
    text-align: center;
    font-size: 40px;
    color: var(--main-color);
    font-weight: 700;
    text-transform: uppercase;
}

.container{
padding-left: 15px;
padding-right: 15px;
margin-right: auto;
margin-left: auto;
}

/* small */
@media (min-width:768px){
.container{
     width: 750px;
}
}
/* medium */
@media (min-width:992px){
.container{
     width: 970px;
}
}
/* large */
@media (min-width:1200px){
.container{
     width: 1170px;
}
}


  .container .menu-panel-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }
    @media(max-width:991px){
        .container .menu-panel-container{
            justify-content: center;
        }
    }

    .container .menu-panel-container .form{
        width: 100%;
    }
    @media(min-width:992px){
        .container .menu-panel-container .form{
            flex: 0 0 30%;
        }
    }
    .container .menu-panel-container .form label{
       color: var(--main-color);
       font-weight: 700;
       font-size: 16px;
    }
    .container .menu-panel-container .form .input{
      display: block;
      width: 100%;
      background-color: transparent;
      outline: none;
      border: 3px solid var(--main-color);
      border-radius: var(--main-border-radius);
      margin: 0px 0px 10px 0px;
      padding: 5px;
      caret-color: var(--main-color);
      color: white;
      font-weight: 700;
    }

    .container .menu-panel-container .form .input::placeholder{
        visibility: hidden;
        font-weight: 700;

    }

    /* img */
    .container .menu-panel-container .form #meal-image-input{

    }
    .container .menu-panel-container .form #select-button{
        width: 30px;
        height: 30px;
        display: block;
    }
    .container .menu-panel-container .form #extlab{
        width: 100%;
        height: 20px;
        display: block;
        color: white;
    }
    .container .menu-panel-container .form #myimg{
        max-width: 100%;
    }
    .container .menu-panel-container .form 
    /* img */
    .container .menu-panel-container .form .center{
        display: flex;
        justify-content:center;
        align-items: center;
        margin: 10px 0px 0px 0px;
    }
    .container .menu-panel-container .form .button{
       padding: 5px 10px;
       border: none;
       outline: none;
       background-color: var(--main-color);
       color: var(--dark-color);
       font-weight: 700;
       text-align: center;
       margin: 0 10px;
    }
    .container .menu-panel-container .menu-panel-table{
        height: 500px;
        overflow-y: scroll;
    }
    @media(min-width:992px){
        .container .menu-panel-container .menu-panel-table{
            flex: 0 0 65%;
        }
    }
    @media(max-width:991px){
        .container .menu-panel-container .menu-panel-table{
            margin-top: 30px;
        }
    }
    .container .menu-panel-container .menu-panel-table .table{
        color: var(--dark-color);
        background-color: var(--main-color);
        position: relative;
    }
    .container .menu-panel-container .menu-panel-table::-webkit-scrollbar{
        width: 10px;
    }
    .container .menu-panel-container .menu-panel-table::-webkit-scrollbar-track{
        background: var(--main-color);
    }
    .container .menu-panel-container .menu-panel-table::-webkit-scrollbar-thumb{
        background-color: white;
    }
    .container .menu-panel-container .menu-panel-table .table thead{
        
    }
    .container .menu-panel-container .menu-panel-table .table th{
        font-weight: 700;
        border: 3px solid var(--dark-color);
        text-align: center;
        font-size: 20px;
    }
    .container .menu-panel-container .menu-panel-table .table tbody{
        
    }
    .container .menu-panel-container .menu-panel-table .table td{
        font-weight: 700;
        border: 3px solid var(--dark-color);
        text-align: center;
        font-size: 15px;
    }